@import "tailwindcss";

@theme {
  /* Escala para brand-orange (#FF4527) */
  --color-brand-orange-50:  #FFEDE9;
  --color-brand-orange-100: #FFC6C0;
  --color-brand-orange-200: #FF9E96;
  --color-brand-orange-300: #FF766B;
  --color-brand-orange-400: #FF4E40;
  --color-brand-orange-500: #FF4527; /* color base */
  --color-brand-orange-600: #E03E20;
  --color-brand-orange-700: #B63719;
  --color-brand-orange-800: #8A2F12;
  --color-brand-orange-900: #5C220A;
  /* Escala para brand-blue (#22244E) */
  --color-brand-blue-50:  #E9E9F3;
  --color-brand-blue-100: #C8C9E0;
  --color-brand-blue-200: #A5A8CE;
  --color-brand-blue-300: #7F84BA;
  --color-brand-blue-400: #5A5FA7;
  --color-brand-blue-500: #22244E; /* color base */
  --color-brand-blue-600: #1E2045;
  --color-brand-blue-700: #191A3B;
  --color-brand-blue-800: #141532;
  --color-brand-blue-900: #0D0E25;
}