@import "tailwindcss";

@theme {
  --color-brand-orange: #FF4527;
  /* Escala para brand-blue (#22244E) */
  --color-brand-blue-50:  #E9E9F3;
  --color-brand-blue-100: #C8C9E0;
  --color-brand-blue-200: #A5A8CE;
  --color-brand-blue-300: #7F84BA;
  --color-brand-blue-400: #5A5FA7;
  --color-brand-blue-500: #22244E; /* color base */
  --color-brand-blue-600: #1E2045;
  --color-brand-blue-700: #191A3B;
  --color-brand-blue-800: #141532;
  --color-brand-blue-900: #0D0E25;
}